<!DOCTYPE html>
 <html lang="ja">



  <head>
    <meta charset="utf-8">
    <title>1210 portfolio</title>
    <link rel="icon" href="favicon_1210.png">
    <meta name="description" content="萩原理央のポートフォリオサイトです。">
    <%= stylesheet_link_tag 'application', media: 'all'%>
  </head>



  <body>


    <header>
      <!-- ----- プロフィール----- -->
      <img src="img/1210.png" width="150" heigh="150" alt="1210のアイコン">
      <h1>萩原理央</h1>
      <p>デザイナー兼エンジニア</p>
      <ul>
        <li>
          <a href="https://www.facebook.com/profile.php?id=100006534462712" target="_blank" >
            <img src="img/blog.png" width="20" height="20" alt="ブログのリンクアイコン">
          </a>
        </li>
        <li>
          <a href="https://vsco.co/1210/gallery" target="_blank" >
            <img src="img/photos.png" width="20" height="20" alt="フォトサイトのリンクアイコン">
          </a>
        </li>
      </ul>
      <!-- ----- プロフィール----- -->
    </header>


    <section>
      <!-- ----- 作品紹介 ----- -->
      <h1>WORKS</h1>

      <section>
        <img src="img/work1.png" width="400" height="260" alt="勇者ゲームのイメージ">
        <h1>勇者ゲーム</h1>
        <p>楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。</p>
      </section>

      <section>
        <img src="img/work2.png" width="400" height="260" alt="勇者ゲームのイメージ">
        <h1>宝探しゲーム</h1>
        <p>楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。</p>
      </section>
      
      <section>
        <img src="img/work3.png" width="400" height="260" alt="勇者ゲームのイメージ">
        <h1>神経衰弱ゲーム</h1>
        <p>楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。</p>
      </section>

      <!-- ----- 作品紹介 ----- -->
    </section>


    <footer>
      <!-- ----- コピーライト ----- -->
      <p>(c) 1210.com</p>
      <!-- ----- コピーライト ----- -->
    </footer>


  </body>


  </html>
